<form class="{{cssClass}} {{actor.type}}" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
        
		<div class="header-grid">
			{{!-- character info pane --}}
			<div class="char-info header-grid-item">
				<table>
					<tr>
						<td class="info-label">{{localize "SRPG.name"}}</td>
						<td>
							<input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
						</td>
					</tr>
					<tr>
						<td class="info-label">{{localize "SRPG.age"}}</td>
						<td>
							<input name="system.age" type="number" value="{{systemData.age}}" placeholder="age" />
						</td>
					</tr>
					<tr>
						<td class="info-label">{{localize "SRPG.birthright"}}</td>
						<td>
							<input name="system.birthright" type="text" value="{{systemData.birthright}}" placeholder="birthright" />
						</td>
					</tr>
        	        <tr>
        	            <td class="info-label">{{localize "SRPG.affiliation"}}</td>
        	            <td>
        	                <input name="system.affiliation" type="text" value="{{systemData.affiliation}}" placeholder="affiliation" />
        	            </td>
        	        </tr>
					<tr>
						<td class="info-label">{{localize "SRPG.rank"}}</td>
						<td>
							<input name="system.rank" type="text" value="{{systemData.rank}}" placeholder="rank" />
						</td> 
					</tr>
				</table>
			</div>

			{{!-- character stat block --}}
			<div class="stat-grid header-grid-item">
                {{#each systemData.statistics as |stat id|}}
                <div class="stat">
					<p class="statname">{{id}}</p>
					<input name="system.statistics.{{id}}.value" type="number" value="{{stat.value}}" />
				</div>
                {{/each}}
			</div>

			{{!-- character picture --}}
			<div class="profile-img header-grid-item">
				<img class="p-image" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
			</div>

			{{!-- character resources --}}
			<div class="char-resources header-grid-item">

				{{!-- hp chk ap --}}
				<div class="resource-grid-item minigrid">
					<div class="minigrid-item resource-label resource-actual hp">{{localize "SRPG.hp"}}</div>
					<div class="minigrid-item resource-value resource-actual">
						<input name="system.hp.value" type="number" value="{{systemData.hp.value}}" placeholder="hp" />
					</div>
					<div class="minigrid-item resource-label resource-max hp">{{localize "SRPG.max"}}</div>
					<div class="minigrid-item resource-value resource-max">
						<input name="system.hp.max" type="number" value="{{systemData.hp.max}}" placeholder="hp max" />
					</div>
				</div>
				<div class="resource-grid-item minigrid">
					<div class="minigrid-item resource-label resource-actual chk">{{localize "SRPG.chk"}}</div>
					<div class="minigrid-item resource-value resource-actual">
						<input name="system.chakra.value" type="number" value="{{systemData.chakra.value}}" placeholder="chk" />
					</div>
					<div class="minigrid-item resource-label resource-max chk">{{localize "SRPG.max"}}</div>
					<div class="minigrid-item resource-value resource-max">
						<input name="system.chakra.max" type="number" value="{{systemData.chakra.max}}" placeholder="chk max" />
					</div>
				</div>
				<div class="resource-grid-item ap minigrid">
					<div class="minigrid-item resource-label resource-actual ap">{{localize "SRPG.ap"}}</div>
					<div class="minigrid-item resource-value resource-actual">
						<input name="system.ap.value" type="number" value="{{systemData.ap.value}}" placeholder="ap" />
					</div>
					<div class="minigrid-item resource-label resource-max ap">{{localize "SRPG.max"}}</div>
					<div class="minigrid-item resource-value resource-max">
						<input name="system.ap.max" type="number" value="{{systemData.ap.max}}" placeholder="ap max" />
					</div>
				</div>

				{{!-- toggles and other --}}
				<div class="resource-grid-item toggles">
					<div class="toggle-label hp">{{localize "SRPG.mw"}}</div>
					<input name="system.mw" type="checkbox" {{checked systemData.mw}} />
					<div class="toggle-label hp">{{localize "SRPG.unconcious"}}</div>
					<input name="system.unconcious" type="checkbox" {{checked systemData.unconcious}} />
					<div class="toggle-label chk">{{localize "SRPG.ce"}}</div>
					<input name="system.ce" type="checkbox" {{checked systemData.ce}} />
				</div>
				<div class="resource-grid-item other">
					<div class="other-label">{{localize "SRPG.skilllevel"}}</div>
					<div class="other-data">
						<input name="system.skilllevel" type="number" value="{{systemData.skilllevel}}" />
					</div>
					<div class="other-label">{{localize "SRPG.available-levels"}}</div>
					<div class="other-data" name="available-levels">{{systemData.availableLevels}}</div>
					<div class="other-label">{{localize "SRPG.something"}}</div>
					<div class="other-data" name="something" text="sampletext"></div>
				</div>
			</div>
		</div>

	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="skills">{{localize "SRPG.skills"}}</a>
		<a class="item" data-tab="inventory">{{localize "SRPG.inventory"}}</a>
		<a class="item" data-tab="techniques">{{localize "SRPG.techniques"}}</a>
		<a class="item" data-tab="bio">{{localize "SRPG.bio"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- skills tab --}}
		<div class="tab skills" data-group="primary" data-tab="skills">
			{{!-- skills with one stat --}}
			<div class="skills-grid">
				{{#each systemData.skills as |skill id|}}
				<div class="skill">
					<div class="grid-item stat">{{skill.stat}}</div>
					<div class="grid-item label rollable" data-roll="d10+@skills.{{id}}.base" data-label="{{localize skill.label}}">{{localize skill.label}}</div>
					<div class="grid-item ranks">
						<input name="system.skills.{{id}}.value" type="number" value="{{skill.value}}" />
					</div>
					<div class="grid-item base">{{skill.base}}</div>
				</div>
				{{/each}}
			</div>
			{{!-- skills with two stats --}}
			<div class="s2skills-grid">
				{{#each systemData.s2skills as |s2skill id|}}
				<div class="skill {{id}}">
					<div class="grid-item stats">{{s2skill.stat1}}/{{s2skill.stat2}}</div>
					{{#if isInitiative}}
					<div class="grid-item label rollable" data-action="rollInit" data-roll="d10+@s2skills.{{id}}.base" data-label="{{localize s2skill.label}}">{{localize s2skill.label}}</div>
					{{else}}
					<div class="grid-item label rollable" data-roll="d10+@s2skills.{{id}}.base" data-label="{{localize s2skill.label}}">{{localize s2skill.label}}</div>
					{{/if}}
					<div class="grid-item ranks">
						<input name="system.s2skills.{{id}}.value" type="number" value="{{s2skill.value}}" />
					</div>
					<div class="grid-item base">{{s2skill.base}}</div>
				</div>
				{{/each}}
			</div>
		</div>

		{{!-- TODO: inventory tab --}}
		<div class="tab inventory" data-group="primary" data-tab="inventory">
			<div class="temp">something</div>
		</div>

		{{!-- TODO: techniques tab --}}
		<div class="tab techniques" data-group="primary" data-tab="techniques">
			<div class="temp">something</div>
		</div>

		{{!-- bio tab --}}
		<div class="tab bio" data-group="primary" data-tab="bio">
			<div class="bio-grid">
				{{#each systemData.bio as |bioitem id|}}
				<div class="bio-grid-item">
					<div class="label">{{localize bioitem.label}}</div>
					<textarea name="system.bio.{{id}}.text">{{bioitem.text}}</textarea>
				</div>
				{{/each}}
			</div>
		</div>
	</section>


</form>