<form class="{{cssClass}} {{actor.type}}" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		
		<div class="header-grid">
			{{!-- character info pane --}}
			<div class="char-info header-grid-item">
				<table>
					<tr>
						<td class="info-label">{{localize "SRPG.name"}}</td>
						<td>
							<input name="name" type="text" value="{{data.name}}" placeholder="Name" />
						</td>
					</tr>
					<tr>
						<td class="info-label">{{localize "SRPG.age"}}</td>
						<td>
							<input name="system.age" type="number" value="{{systemData.age}}" placeholder="age" />
						</td>
					</tr>
					<tr>
						<td class="info-label">{{localize "SRPG.birthright"}}</td>
						<td>
							<input name="system.birthright" type="text" value="{{systemData.birthright}}" placeholder="birthright" />
						</td>
					</tr>
        	        <tr>
        	            <td class="info-label">{{localize "SRPG.affiliation"}}</td>
        	            <td>
        	                <input name="system.affiliation" type="text" value="{{systemData.affiliation}}" placeholder="affiliation" />
        	            </td>
        	        </tr>
					<tr>
						<td class="info-label">{{localize "SRPG.rank"}}</td>
						<td>
							<input name="system.rank" type="text" value="{{systemData.rank}}" placeholder="rank" />
						</td> 
					</tr>
				</table>
			</div>

			{{!-- character stat block --}}
			<div class="stat-grid header-grid-item">
				<div class="stat">
					<p class="statname">{{localize "SRPG.str"}}</p>
					<input name="system.statistics.str.value" type="number" value="{{systemData.statistics.str.value}}" placeholder="str" />
				</div>
				<div class="stat">
					<p class="statname">{{localize "SRPG.dex"}}</p>
					<input name="system.statistics.dex.value" type="number" value="{{systemData.statistics.dex.value}}" placeholder="dex" />
				</div>
				<div class="stat">
					<p class="statname">{{localize "SRPG.con"}}</p>
					<input name="system.statistics.con.value" type="number" value="{{systemData.statistics.con.value}}" placeholder="con" />
				</div>
				<div class="stat">
					<p class="statname">{{localize "SRPG.spd"}}</p>
					<input name="system.statistics.spd.value" type="number" value="{{systemData.statistics.spd.value}}" placeholder="spd" />
				</div>
				<div class="stat">
					<p class="statname">{{localize "SRPG.int"}}</p>
					<input name="system.statistics.int.value" type="number" value="{{systemData.statistics.int.value}}" placeholder="int" />
				</div>
				<div class="stat">
					<p class="statname">{{localize "SRPG.cha"}}</p>
					<input name="system.statistics.cha.value" type="number" value="{{systemData.statistics.cha.value}}" placeholder="cha" />
				</div>
			</div>

			{{!-- character picture --}}
			<div class="profile-img header-grid-item">
				<img class="p-image" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
			</div>

			{{!-- character resources --}}
			<div class="char-resources header-grid-item">

				{{!-- hp chk ap --}}
				<div class="resource-grid-item minigrid">
					<div class="minigrid-item resource-label resource-actual hp">{{localize "SRPG.hp"}}</div>
					<div class="minigrid-item resource-value resource-actual">
						<input name="system.hp.value" type="number" value="{{systemData.hp.value}}" placeholder="hp" />
					</div>
					<div class="minigrid-item resource-label resource-max hp">{{localize "SRPG.max"}}</div>
					<div class="minigrid-item resource-value resource-max">
						<input name="system.hp.max" type="number" value="{{systemData.hp.max}}" placeholder="hp max" />
					</div>
				</div>
				<div class="resource-grid-item minigrid">
					<div class="minigrid-item resource-label resource-actual chk">{{localize "SRPG.chk"}}</div>
					<div class="minigrid-item resource-value resource-actual">
						<input name="system.chakra.value" type="number" value="{{systemData.chakra.value}}" placeholder="chk" />
					</div>
					<div class="minigrid-item resource-label resource-max chk">{{localize "SRPG.max"}}</div>
					<div class="minigrid-item resource-value resource-max">
						<input name="system.chakra.max" type="number" value="{{systemData.chakra.max}}" placeholder="chk max" />
					</div>
				</div>
				<div class="resource-grid-item ap minigrid">
					<div class="minigrid-item resource-label resource-actual ap">{{localize "SRPG.ap"}}</div>
					<div class="minigrid-item resource-value resource-actual">
						<input name="system.ap.value" type="number" value="{{systemData.ap.value}}" placeholder="ap" />
					</div>
					<div class="minigrid-item resource-label resource-max ap">{{localize "SRPG.max"}}</div>
					<div class="minigrid-item resource-value resource-max">
						<input name="system.ap.max" type="number" value="{{systemData.ap.max}}" placeholder="ap max" />
					</div>
				</div>

				{{!-- toggles and other --}}
				<div class="resource-grid-item toggles">
					toggles here
				</div>
				<div class="resource-grid-item other">
					other here
				</div>
			</div>
		</div>

	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="skills">{{localize 'SRPG.skills'}}</a>
		<a class="item" data-tab="bio">{{localize 'SRPG.bio'}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
	</section>


</form>