<form class="{{cssClass}} {{actor.type}}" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		
		{{!-- character info pane --}}
		<div class="char-info">
			<table>
				<tr>
					<td class="info-label">{{localize "SRPG.name"}}</td>
					<td>
						<input name="name" type="text" value="{{data.name}}" placeholder="Name" />
					</td>
				</tr>
				<tr>
					<td class="info-label">{{localize "SRPG.age"}}</td>
					<td>
						<input name="system.age" type="number" value="{{systemData.age}}" placeholder="age" />
					</td>
				</tr>
				<tr>
					<td class="info-label">{{localize "SRPG.gender"}}</td>
					<td>
						<input name="system.gender" type="text" value="{{systemData.gender}}" placehoder="gender" />
					</td>
				</tr>
				<tr>
					<td class="info-label">{{localize "SRPG.birthright"}}</td>
					<td>
						<input name="system.birthright" type="text" value="{{systemData.birthright}}" placeholder="birthright" />
					</td>
				</tr>
                <tr>
                    <td class="info-label">{{localize "SRPG.village"}}</td>
                    <td>
                        <input name="system.village" type="text" value="{{systemData.village}}" placeholder="village" />
                    </td>
                </tr>
			</table>
		</div>

		{{!-- character stat block --}}
		<div class="stat-grid">
			<div class="stat">
				<p class="statname">{{localize "SRPG.str"}}</h3>
				<input name="system.statistics.str.value" type="number" value="{{systemData.statistics.str.value}}" placeholder="str" />
			</div>
			<div class="stat">
				<p class="statname">{{localize "SRPG.dex"}}</h3>
				<input name="system.statistics.dex.value" type="number" value="{{systemData.statistics.dex.value}}" placeholder="dex" />
			</div>
			<div class="stat">
				<p class="statname">{{localize "SRPG.con"}}</h3>
				<input name="system.statistics.con.value" type="number" value="{{systemData.statistics.con.value}}" placeholder="con" />
			</div>
			<div class="stat">
				<p class="statname">{{localize "SRPG.spd"}}</h3>
				<input name="system.statistics.spd.value" type="number" value="{{systemData.statistics.spd.value}}" placeholder="spd" />
			</div>
			<div class="stat">
				<p class="statname">{{localize "SRPG.int"}}</h3>
				<input name="system.statistics.int.value" type="number" value="{{systemData.statistics.int.value}}" placeholder="int" />
			</div>
			<div class="stat">
				<p class="statname">{{localize "SRPG.cha"}}</h3>
				<input name="system.statistics.cha.value" type="number" value="{{systemData.statistics.cha.value}}" placeholder="cha" />
			</div>
		</div>

		{{!-- character picture --}}
		<img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="150" width="150" />

	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="skills">{{localize 'SRPG.skills'}}</a>
		<a class="item" data-tab="bio">{{localize 'SRPG.bio'}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
	</section>


</form>